$sidebar-width: 260px;

.sidebar {
  width: $sidebar-width;
  background-color: $white;
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
}

.sidebar-main-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar-main-menu ul {
}

.sidebar-main-menu ul li a {
  text-decoration: none;
  font-size: medium;
  color: #000;
}

.menu-title {
  font-size: x-small;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 8px;
}

.menu-item-single {
  width: 100%;
  padding: 12px 24px;
  border-radius: 8px;
  color: rgba($gray-900, 1);
  &:hover {
    background-color: rgba($blue-100, 0.5);
    color: rgba($blue-500, 1);
  }
}

.menu-item-single svg {
  margin-right: 4px;
  margin-top: -3px;
}

.last-menu-container {
  height: 100%;
}
