@import "/node_modules/bootstrap/scss/bootstrap";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons";
@import "/src/styles/sidebar";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  font-family: "Poppins", sans-serif !important;
  background-color: $gray-400;
}

// Background Colors
.bg-brand-lighter {
  background-color: $blue-100;
}

.bg-brand-light {
  background-color: $blue-300;
}

.bg-brand {
  background-color: $blue-500;
}
.bg-brand-dark {
  background-color: $blue-600;
}

.bg-brand-darker {
  background-color: $blue-800;
}

//Background Images

.bg-image-full {
  background-image: url("../assets/images/backgroud.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 12px 24px 0 rgba(31, 38, 135, 0.24);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 48px 32px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.bg-testColor {
  background-color: blue;
}

.brand-color {
  background-color: $blue-800;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.content-container {
  width: calc(100vw - 280px);
  margin-left: $sidebar-width;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin: 0;
}

.table-container {
  // padding: 8px;
  background-color: #ffffff;
  border-radius: 8px;
}
